{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <h1> Liste des postulants en attente </h1>
    <div class="">  
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Nom </th>
                <th scope="col">Poste </th>
                <th scope="col">état </th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
            {% for postulant in postulants %}
                <tr>
                
                <td>{{ postulant.profilCandidat.nom }}</td>
                <td>{{ postulant.annonces.titre }}</td>
                <td>{% if postulant.validé %} 
                        Validée
                    {% else %} Non validée 
                    {% endif %} </td>
                {% if is_granted('ROLE_CONSULTANT') %}
                    <td> <a href="{{ path('app_annonces_postulant', { 'annonceId': postulant.annonces.id , 'candidatId': postulant.profilCandidat.id } ) }}" class="btn btn-sm btn-success"> {{ "Modifier" | trans }}
                        </a> </td> 
                {% endif %}
               
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>        
</div>
{% endblock %}
